.profile {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
}

.description {
  background-color: lightsteelblue;
  border: 2px solid grey;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
  text-align: center;
  padding: 20px 30px;
}

.stats {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  padding: 20px 30px;
  border: 2px solid grey;
  border-top: none;
}
.quantity {
  display: inline-block;
  margin-top: 12px;
}
