.stats {
  margin: 20px;
}

.container {
  width: 300px;
  margin: auto;
}

.list {
  display: flex;
  background-color: lightgray;
}

.title {
  margin-bottom: 16px;
}

.item {
  border: 1px solid grey;
  display: flex;
  padding: 5px;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.item:not(:last-child) {
  border-right: none;
}

.label {
  font-weight: 500;
}
.percentage {
  font-style: italic;
}
