.container {
  max-width: 1032px;
  padding: 16px;
  margin: 0 auto;
}

.transaction-history {
  width: 1000px;
  text-align: center;
}

.transaction-history tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transaction-history tr:nth-child(odd) {
  background-color: #ffffff;
}
